html,
body {
    font-family: 'Work Sans', sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2 {
    font-weight: bold;
    letter-spacing: .5px;
    font-size: 40px;
    color: #ff4f81;
}

.heading p {
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 4px;
    color: black;

}

.heading p::after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}

.section {
    padding: 5rem 0;
}

.heading--white p {
    color: white;
}


/* HEADER */
.header__top {
    font-size: 14px;
    background-color: #ff4f81;
}

.header__top a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;

}

.header__right a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    margin-left: .25rem;

}

.header__left a:hover {
    color: black !important;
}

.header__right a:hover {
    background-color: #ff4f81;
    border-color: white;
}

.navInstruction {
    color: black;
}

.navInstruction .navbar-brand p:first-child {
    font-size: 36px;
}

.navInstruction .navbar-brand p:first-child i {
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child {
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}

#navbarInstruction .nav-item {
    margin: 0 15px;
}

#navbarInstruction .nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
    /* opacity: 0; */

}

#navbarInstruction .nav-item:hover::after {
    width: 100%;

}


#navbarInstruction .nav-link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    transition: all 0.5s;

}

#navbarInstruction .nav-item:hover .nav-link {
    color: #ff4f81;
}

#navbarInstruction .nav-item.active .nav-link {
    color: #ff4f81;

}

#navbarInstruction .nav-item.nav-item.active::after {
    width: 100%;

}

#navbarInstruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item {
    color: white;
    transition: all 0.5s;
}

#navbarInstruction .dropdown-item:focus,
#navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color: #ff4f81;

}
.navInstruction .navbar-toggler{
    color: #ff4f81;
    background-color: black;
    border-radius: 0;
    
}
.navInstruction .navbar-toggler:focus{
    
    border-color: black;
    box-shadow: none;
}

/* CAROUSEL */
#carouselcyber .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselcyber .carousel-caption h1 {
    font-size: 52px;
}

#carouselcyber .carousel-caption p {
    letter-spacing: 4px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 25px;
}

#carouselcyber .carousel-caption button {
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 11px 20px;
    transition: all 0.5s;
}

#carouselcyber .carousel-caption button:hover {
    background-color: #ff4f81;
    border-color: #ff4f81;
}

.welcome__content>p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    padding: 1px 0 5px;

}

.welcome__item i {
    font-size: 2rem;
}

.welcome__item h3 {
    color: #ff4f81;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.welcome__item h4 {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0 0.2rem;

}

.welcome__item p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 10px 0;
}

.welcome__col {
    padding: 2rem;
}

/* OURSTATS */
.ourStats {
    background-image: url("../img/banner2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.ourStats__content {
    text-align: center;
    color: white;
}

.ourStats__item i {
    font-size: 2.5rem;

}

.ourStats__item h3 {
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: #ff4f81;
}

.ourStats__item p {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;

}

/* OFFER */
.offer__col {
    padding: 15px;
}

.offer__item {
    padding: 25px 40px;
    box-shadow: 0 1px 8px 0 rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all 0.5s;
}

.offer__item:hover {
    background-color: #12ccc3;
}

.offer__item i {
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3 {
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}

.offer__item p {
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* FEEDBACK */
.feedback {
    background-image: url("../img/banner3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.feedback__content {
    box-shadow: 0px 1px 7p #8e8e8e;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.47);
}

.feedback__content .item {
    color: white;
    padding: 1rem;

}

.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;

}

.feedback__top::after {
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 28%;

}

.feedback__content .feedback__bottom img {
    width: 28% !important;
    display: inline-block;
}

.feedback__bottom {
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 2rem auto 0;
}

.feedback__name p {
    margin: 0;
    color: #ff4f81;

}

.feedback__name {
    margin-left: 5px;
}

.feedback__name p:first-child {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f81;
    opacity: 0.5;

}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

/* NEWS */
.news__content img {
    border: 2px solid #dedede;
}

.news__content h3 {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.1;
}

.news__content a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.news__content a:hover {
    color: #ff4f81;
}

.news__content h4 {
    color: #ff4f81;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.news__content p {
    font-size: 0.9rem;
    color: #999999;
    margin-top: 1rem 0 0;
    line-height: 1.8rem;
}

.news__content .row:last-child {
    margin-top: 5rem;
}

/* MODAL */
#cyberModal h5 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#cyberModal .modal-dialog {
    max-width: 600px;
}

/* FOOTER FORM */
.footer__form {
    padding: 50px 0;
}

footer {
    background-color: #141415;
}

.footer__top h3 {
    font-size: 24px;
    color: #ff4f81;
    margin-bottom: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__top p {
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-top: 2rem;
    letter-spacing: 1px;
}

.footer__link i {
    color: #ff4f81;
    margin-right: 1rem;
}

.footer__link a,
.footer__contact a {
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.footer__link a:hover,
.footer__contact a:hover {
    color: white;
}

.footer__link,
.footer__contact {
    margin-bottom: 1rem;
}

.footer__contact i {
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}

.footer__form label {
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    /* margin-top: 6px; */
}

.footer__form input {
    padding: 14px;
    border-radius: 0%;
    border: none;
    letter-spacing: 1px;
    color: #888888;
    line-height: 14px;
}

.footer__form button {
    padding: 12px 35px;
    background-color: #ff4f81;
    outline: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 0;
    transition: all 0.5s;
}

.footer__form button:hover {
    background-color: #ec1995;
    color: white;
}

.footer__bottom {
    color: white;
    text-align: center;
    background-color: #0f0f10;
    padding: 0 0 1rem;
    letter-spacing: 1px;

}

.footer__bottom a {
    color: #ff4f81;
    text-decoration: none;
    transition: all 0.5s;
}

.footer__bottom a:hover {
    color: white;
}

/* ************RESPONSIVE*********** */
@media (max-width: 1199.98px) { 

     #carouselcyber .carousel-caption {
        top: 50%;
    }
    #carouselcyber .carousel-caption h1{
        font-size: 4vw;
    }
     #carouselcyber .carousel-caption p{
        font-size: 1.6vw;
        margin-bottom: 0.5em;
    }
    #carouselcyber .carousel-caption button{
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
 }
@media (max-width: 991.98px) {
    .navInstruction .navbar-brand p:first-child {
        font-size: 3vw;
    }

    .navInstruction .navbar-brand p:last-child {
        font-size: 1.5vw;
    }
}
@media (max-width: 767.98px){
    .navInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;

    }
    
    #navbarInstruction .dropdown-item{
        color: black;
    }
    #navbarInstruction .dropdown-item:hover{
        color: white
    }


}
@media (min-width: 768px) and (max-width: 991.98px) {
    #navbarInstruction .nav-item {
        margin: 0;
        padding: 0 2px;
    }
    #navbarInstruction .nav-link {
        font-size: 12px;
        padding: 5px;
    } 
}
@media (max-width: 575.98px) {
    .heading p{
        padding: 0 15px;
    }
    .header__left a {
        display: block;
    }
    .footer__form button{
        margin-top: 20px;
    }
}
@media (max-width: 414px){
    #carouselcyber {
        height: 250px;
    }
     #carouselcyber .carousel-inner,#carouselcyber .carousel-item,#carouselcyber .carousel-item img{
        height: 100%;
     }
     #carouselcyber .carousel-item img{
        object-fit: cover;
     }

}
@media (max-width:376px){
    .feedback__bottom{
        width: 100%;
    }
}

@media (max-width: 360px) {
    .header__right {
        width: 30%;
        text-align: center;
    }

    .header__right a {
        margin-bottom: 5px;
    }
}
@media (min-width:575.98px) and (max-width:991.98px) {
    .feedback__bottom{
        width: 85%;
        
    }
}





